*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    }
    :root{
        --bg-color: #1f242d;
        --second-bg-color: #323946;
        --text-color: #fff;
        --main-color: #0ef;
    }
    html{
        font-size: 62.5%;
        overflow-x: hidden;
    }
body{
    background-color: black;
   /* width: 100%;*/
}

/*-----------------------toppage section-------------------------------*/
.top{
 height: 7vh;
width: 100%;
position: fixed;
top: 0;
left: 0;
padding: 2rem 9%;
display: flex;
background-color:rgb(0, 0, 0) ;
justify-content: space-between;
align-items: center;
z-index: 100;
}
span{
    color:#f9004d;
}
.logo{
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    cursor: default;
    
    }
    #menu-icon{
        font-size: 3.6rem;
        color: white;
        display: none;
    }
    .navbar{
        padding-top: 50px;
    }

.navbar a{
    color:white;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
    padding-top: 25px; 
    margin-left: 4rem;    
    transition: transform .4s;
   }
.navbar a:hover{
    color: #f9004d;
    transform: scale(1.2);
    transition: .3s;
}
.section{
    padding-top: 19%; 
    padding-left: 8%;
}
.btn{
        display: flex;
    justify-content: center;
    align-items: center;
        background-color: #f9004d;
        color:white;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        height: 23px;
        border-radius: 30px;
        margin-bottom: 30px;
        padding: 10px 25px;
        transition: transform .4s;
    }
    .btn:hover{
    transform: scale(1.2);
    }
    /*------------------------------------------------------*/
    /*-------------------------Home section-----------------------------*/
.home{
    /*
    height: 80vh;
    width: 100%;
    background: #191919;
    */
    background: #191919;
    display: flex;
    
    align-items: center;
}
  .home-content{
    font-size: 3.2rem;
    font-weight: 700;
    margin-left: 21vh;
  }
  .home-content h4{
    font-size: 20px;
    font-weight: 700;
    color: #fcfc;
  }
  .home-content h1{
    font-size: 59px;
    font-weight: 700;
    line-height: 1.3;
    color: white;
  }
  .home-content h3{
    font-size: 25px;
    font-weight: 700;
    color: white;
  }
  .cv-btn{
display: inline-block;
padding: 1rem 2.8rem;
background: #f9004d;
border-radius: 4rem;
box-shadow: 0 0 1rem #f9004d;
font-size: 1.6rem; 
color: #fff;
letter-spacing: .1rem;
font-weight: 600;

  }
  .cv-btn:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
    box-shadow: none;
  }
  #home-img{ 
    width: auto;
    margin: 13vh 30vh 15vh;
     border: 3px solid #f9004d;
   border-radius: 27px;
  }
  #home-img img {
    border-radius: 20px;
    height: 52vh;
   
  }
   /*-----------------------about---------------------------*/
  /*------------------------------------------------------*/
 .about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
 }
 .about-content{
text-align: left;
width: 95vh;
 }

.about-img{
width: 28vh;
margin: 9vh 4vh 9vh ;
}
.about-img img{
height: 52vh;

border-radius: 23px;
}

.about-content h2{
    color:white;
    font-size: 50px;
    margin-bottom: 20px;

}
.about-content h5{
    color: white;
    font-size: 25px;
    margin-bottom: 25px;
    
}
.about-content p{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 45px;
   
   }
    button{
        background-color: #f9004d;
        color: white;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 13px 30px;
        border-radius: 30px;
        transition: .4s;
        }
    button:hover{
        background-color: transparent;
        border: 2px solid #f9004d;
        cursor: pointer;
    }
    /*------------------------skills-------------------*/
    .skills{
        width: 100%;
        background: #101010;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: baseline;
    }
    .skills-title h3{
        color: white;
        font-size: 75px;
        width: 1130px;
        margin-top: 7%;
        
        text-align: center;
    }
    .skills p{
        color: white;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 25px;
    }
    .box1 .card1{
        transition: .5s ease;
        border-radius: 2rem;
       
    }
    .box1 .card1:hover{
        border: .2rem solid #f9004d;
        border-color: #f9004d;
        transform: scale(1.02);

    }
    .box1{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 400px;
    }
    .card1{
        height: 365px;
        width: 335px;
        padding: 20px 35px;
        background: #191919;
        border-radius: 20px;
        margin: 15px;
        position: relative;
        overflow: hidden;
        text-align: center;
    }
    
    .card1 h5{
        color: #f9004d;
        font-size: 23px;
        margin-bottom: 15px;
    }
    .pra1 p{
        color: #fcfc;
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 25px;
    }
    /*------------------------.services-------------------*/
    .services{
        background: #191919;
        width:100%;
        padding: 100px 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }
    .title h2{
        color: white;
        font-size: 75px;
        width: 1130px;
        margin: 30px auto;
        text-align: center;
    }
    .box2 .card2{
        transition: .5s ease;
        border-radius: 2rem;
       
    }
    .box2 .card2:hover{
        border: .2rem solid #f9004d;
        border-color: #f9004d;
        transform: scale(1.02);

    }
   
    .box2{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 400px;
        
    }
    .card2{
        height: 365px;
        width: 335px;
        padding: 20px 35px;
        background: #101010;
        border-radius: 20px;
        margin: 15px;
        position: relative;
        overflow: hidden;
        text-align: center;
    }
 
.card2 h5{
    color: #f9004d;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra2 p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}


nav1 ul li{
    color: aqua;
}
.hire-me.hire-me{
    background: #101010; 
    border-radius: 10px;
    text-align: center;
    width: 350px;
    padding: 20px 35px;
    height: 65%;
    margin: 14vh;
    margin-left:36%;
    margin-right: 128px;
    position: relative;
    display: flex;
    flex-direction: column;
    
    
}

.contact{
    display: flex;
    margin-top: 17px;
    margin-bottom: 15px;
    height: 32px;
    justify-content: space-between;
}
.hire-me h5{
    color: #f9004d;
    font-size: 23px;
    margin-bottom: 15px;
}
.hire-me p{
    color: #fcfc;
}
.btr{
    width: 43px;
}
.hire-me a.btr{
    
    width: 85px;
   
}
.hire-me a{
    color: white;
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 30px;
    margin: 22px 10px;
    text-decoration: none;
    transition: .4s;
}
.hire-me a:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;

}

section#foot{
    position: relative;
    width: 100%;
    height: 300px;
    background: #101010;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
section#foot p{
    color: white;
    font-size: 23px;
}
.foot p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
.foot p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;
}
.social a{
    color: white;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    text-decoration: none;
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.social p{
    color: #f9004d;
}
.end{
    position: absolute;
   
    bottom: 20px;
    font-size: 14px;
    margin-left: 9vh;
}
h5.end{
    color: #f9004d;
}

.td{
    bottom: 50px;
    position: absolute;
    color: white;
    margin-left: 9vh;

}

.td span{
    color:#f9004d ;
}
.form1{
    
    margin-top: 16vh;
    margin-bottom: 16vh;
    height: 65%;
    
}
.lets-talk{
        align-items: center; 
    justify-content: space-between;
    display: flex;

}
form{
    display: flex;
    margin-top: 12px;
    margin-left: 64vh;
     flex-direction: column;  
     justify-content: space-between;
     align-items: center; 
     border: 2px solid #f9004d;
     border-radius: 20px;
     background-color: #9b9973ee;   
     width: 60vh; 
     height: 32vh;     
     background: #101010;
}
h5#lets{
    font-style: oblique;
    color: #f9004d;
    font-size: 21px;
    
}
label{
    padding-right:  15px ;
    
    text-align: center;
    color: white;
    margin-bottom: 12px;
}
div.name{
    margin-top: 23px;
}
div.email{
    margin-top: 23px; 
}
div.txtarea{
    margin-top: 23px;   
}
label.message{
    margin-bottom: 23px;
    padding-bottom:32px;
}
button#send{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    margin: 15px 15px;
    margin-left: 80px;
}
footer{
    height: 300px;
    position: relative;
    width: 100%;
    
    background: #101010;
display: flex;
flex-direction: column;
align-items: center;

justify-content: space-between;
}
footer p{
    color: white;
    font-size: 23px;
    margin-left: 84vh;
    padding-top: 3vh;
}
.socials{
    display: flex;
    margin-left: 78vh;
}

.socials a{
    color: white;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    text-decoration: none;
}
.socials a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.socials p{
    color: #f9004d;
    
}
.ftend{
    position: absolute;
   
    bottom: 12vh;
    font-size: 14px;
    margin-left: 9vh;
}
h5.ftend{
    color: #f9004d;
}

.ft{
    bottom: 16vh;
    position: absolute;
    color: white;
    margin-left: 6vh;

}

.ft span{
    color:#f9004d ;
}
