@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    }
    :root{
        --bg-color: #1f242d;
        --second-bg-color: #323946;
        --text-color: #fff;
        --main-color: #0ef;
    }
    html{
        font-size: 62.5%;
        overflow-x: hidden;
    }
body{
    background-color: black;
   /* width: 100%;*/
}
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/*-----------------------toppage section-------------------------------*/
.header{
 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #191919;
}
.header.sticky{
    border-bottom: 1rem solid #191919;
}
span{
    color:#f9004d;
}
.logo{
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    cursor: default;
    }
    #menu-icon{
        font-size: 3.6rem;
        color: white;
        display: none;
    }
    
    

.navbar a{
    color:white;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
    margin-left: 4rem;    
    transition: transform .4s;
   }
.navbar a:hover,
.navbar a.active{
    color: #f9004d;
   
}

.btn{
        display: flex;
    justify-content: center;
    align-items: center;
        background-color: #f9004d;
        color:white;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        height: 23px;
        border-radius: 30px;
        margin-bottom: 30px;
        padding: 10px 25px;
        transition: transform .4s;
    }
    .btn:hover{
    transform: scale(1.2);
    }
    /*------------------------------------------------------*/
    /*-------------------------Home section-----------------------------*/
.home{
   
    background: #191919;
    display: flex;
    
    align-items: center;
}
  .home-content{
    font-size: 3.2rem;
    font-weight: 700;
    margin-left: 21vh;
  }
  .home-content h4{
    font-size: 20px;
    font-weight: 700;
    color: #fcfc;
  }
  .home-content h1{
    font-size: 59px;
    font-weight: 700;
    line-height: 1.3;
    color: white;
  }
  .home-content h3{
    font-size: 25px;
    font-weight: 700;
    color: white;
  }
  .home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}
  .cv-btn{
display: inline-block;
padding: 1rem 2.8rem;
background: #f9004d;
border-radius: 4rem;
box-shadow: 0 0 1rem #f9004d;
font-size: 1.6rem; 
color: #fff;
letter-spacing: .1rem;
font-weight: 600;

  }
  .cv-btn:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
    box-shadow: none;
  }
 
  .home-img img {
    border-radius: 20px;
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;
   
  border: 5px solid black;
     }
     @keyframes floatImage {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-2.4rem);
        }
        100% {
            transform: translateY(0);
        }
    }
   /*-----------------------about---------------------------*/
  /*------------------------------------------------------*/
 .about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #101010;
 }
 

.about-img img{
    width: 25vw;

border-radius: 23px;
}
.heading {
    text-align: center;
    font-size: 4.5rem;
    color: white;
}


.about-content h2{
    color:white;
    font-size: 50px;
    line-height: 1.2;

}
.about-content h5{
    color: white;
    font-size: 25px;
    
    
}
.about-content p{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
   
   }
    .l-btn{
        background-color: #f9004d;
        color: white;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 13px 30px;
        border-radius: 30px;
        transition: .4s;
        }
    .l-btn:hover{
        background-color: transparent;
        border: 2px solid #f9004d;
        cursor: pointer;
    }
    /*------------------------skills-------------------*/
    .skills{
        width: 100%;
        background: #191919;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: baseline;
    }
    
    
    .box1 .card1{
        transition: .5s ease;
        border-radius: 2rem;
        text-align: center;
    }
    .box1 .card1:hover{
        border: .2rem solid #f9004d;
        border-color: #f9004d;
        transform: scale(1.02);

    }
    .box1{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 400px;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .card1{
        height: 365px;
        width: 335px;
        padding: 20px 35px;
        background: #101010;
        border-radius: 20px;
        margin: 15px;
        position: relative;
        overflow: hidden;
        text-align: center;
    }
    
    .card1 h5{
        color: #f9004d;
        font-size: 23px;
        margin-bottom: 15px;
    }
    .pra1 p{
        color: #fcfc;
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 25px;
    }
    /*------------------------.services-------------------*/
    .services{
        background: #101010;
        width:100%;
        padding: 100px 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }
   
    .box2 .card2{
        
        border-radius: 2rem;
        text-align: center;
        transition: .5s ease;
    }
    .box2 .card2:hover{
        border: .2rem solid #f9004d;
        border-color: #f9004d;
        transform: scale(1.02);

    }
   
    .box2{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 400px;
        flex-wrap: wrap;
    gap: 2rem;
    }
    .card2{
        height: 365px;
        width: 335px;
        padding: 20px 35px;
        background: #191919;
        border-radius: 20px;
        margin: 15px;
        position: relative;
        overflow: hidden;
        text-align: center;
    }
 
.card2 h5{
    color: #f9004d;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra2 p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
 /*------------------------------------------------------*/
  /*-------------------------projects section-----------------------------*/
.project{
    background: #191919;
} 
 .project h2{
    margin-bottom: 4rem;
    color: white;
}
.project-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.project-container .project-box{
position: relative;
border-radius: 2rem;
box-shadow: 0 0 1rem #f9004d;
overflow: hidden;
display: flex;

}

.project-box img{
  
    transition: .5s  ease;
}
.project-box:hover img{
transform: scale(1.1);
}
   
.project-box .project-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1),#f9004d);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translate(100%);
    transition: .5s ease;
}
.project-box:hover .project-layer{
    transform: translateY(0);
}
.project-layer h4{
    font-size: 3rem;
    color: #fff;
}
.project-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    color: #fcf;
}

.project-layer a {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 5rem;
   height: 5rem;
   background: white;
   border-radius: 50%;
}
.project-layer a i{
    font-size: 2rem;
    color: #101010;
}
.contact{
    background: #101010;
}
.contact h2{
    margin-bottom: 3rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: white;
    background: #191919;
    border-radius: .8rem;
    margin: .7rem 0;
}
.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize: none
}
.contact form .l-btn{
    margin-top: 2rem;
    cursor: pointer;
}

.socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: #191919;
}
.socials h2{
    color: #fff;
    font-size: 32px;
}
.media-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.media-links a{
    color: white;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    text-decoration: none;
}
.media-links a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.media-links a i{
    font-size: 30px;
}

.footer{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
   
    background: #191919;
}
.footer-text{
    display: flex;
}
.footer-text h2{
color: #fff;
}
.footer-text h5{
    color: #fcf;
    font-size: 14px;
}
 .footer-iconTop a{
background: #f9004d;
display: inline-flex;
justify-content: center;
align-items: center;
padding: .8rem;
border-radius: .8rem;
transition: .5s ease;
}
.footer-iconTop a:hover {
    box-shadow: 0 0 1rem #f9004d;
}
.footer-iconTop a i{
font-size: 42px;
color:#fff;
}
/*breakpoints*/
@media(max-width:1200px) {
    html{
        font-size: 55%;
    }
}
@media(max-width:991px) {
    .header{
        padding: 2rem 3%;
        width: 100%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .footer{
        padding: 2rem 3%;
    }
    .skills {
        padding-bottom: 7rem;
    } 
    .services {
        padding-bottom: 7rem;
    }
    .project {
        padding-bottom: 7rem;
    }
    .contact {
        min-height: auto;
    }
}
@media(max-width:768px) {
       #menu-icon {
        display: block;
        
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    .navbar.active {
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home {
        flex-direction: column;
    }
    .home-content h3 {
        font-size: 2.6rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
    .about {
        flex-direction: column-reverse;
    }
    .about img {
        width: 70vw;
    }
    .skills h2 {
        margin-bottom: 3rem;
    }
    .services h2 {
        margin-bottom: 3rem;
    }
    .project-container .project-box{
        
        width: 70vw;
        }
        .project img{
            width: 70vw;
        }
   
    .project h2 {
        margin-bottom: 3rem;
    }
    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:617px) {
    .project-container {
        grid-template-columns: 1fr;
    }
    .project-container .project-box{
        
        width: 80vw;
        }
        .project img{
            width: 80vw;
        }
}

@media(max-width:450px) {
    html {
        font-size: 50%;
    }
    .contact1 form .input-box input {
        width: 100%;
    }
}

@media(max-width:365px) {
    .home-img img {
        width: 90vw;
    }
    .about-img img {
        width: 90vw;
    }
    .footer {
        flex-direction: column-reverse;
    }
    .footer-text{
        text-align: center;
        margin-top: 2rem;
    }
}

